@tailwind base;
@tailwind components;
@tailwind utilities;

body.inheritCursors * {
  cursor: inherit !important;
}

.cdk-drag {
  cursor: grab;
}

.cdk-drag-preview {
  list-style: none;
  overflow: hidden;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 0.25s ease-out;
}
